/* reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}

/* center calculator on screen */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* calculator */
.calculator {
    /* fonts */
    --font-sans: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
        "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-monospace: "Fira Code", SFMono-Regular, Menlo, Monaco, Consolas,
        "Liberation Mono", "Courier New", monospace;
    --font-size-xs: 0.75rem;
    --font-size-sm: 0.85rem;
    --font-size: 1rem;
    --font-weight-light: 200;
    --font-weight: 400;
    --font-weight-bold: 700;
    --font-line-height-tight: 1.25;
    --font-line-height: 1.5;
    /* border */
    --border-width: 1px;
    --border-style: solid;
    --border-radius: 0.125rem;
    /* spacing */
    --spacing-xs: 0.125rem;
    --spacing-sm: 0.25rem;
    --spacing: 0.5rem;
    --spacing-lg: 1rem;
    --spacing-xl: 1.5rem;
    /* theme */
    --primary-black: rgb(49 53 57);
    --primary-white: rgb(255 255 255);
    --primary-background: var(--primary-white);
    --primary-background-hover: rgb(226 232 240);
    --primary-background-active: rgb(203 213 225);
    --primary-border: var(--border-width) var(--border-style) rgb(100 116 139);
    --secondary-background: rgb(254 240 138);
    --secondary-background-hover: rgb(253 224 71);
    --secondary-background-active: rgb(252 211 77);
    --secondary-border: var(--border-width) var(--border-style) rgb(180 83 9);
    --tertiary-background: rgb(219 234 254);
    --tertiary-background-hover: rgb(191 219 254);
    --tertiary-background-active: rgb(147 197 253);
    --tertiary-border: var(--border-width) var(--border-style) rgb(30 64 175);
    /* other */
    --cursor: pointer;
    --focus-ring: 3px solid rgb(13 110 253 / 0.5);
    --box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --screen-height: calc(var(--font-size) * 3);
    width: 24rem;
    padding: var(--spacing);
    font-family: var(--font-sans);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    line-height: var(--font-line-height);
    color: var(--primary-black);
    border-radius: var(--border-radius);
}
.calculator:focus-within {
    outline: var(--focus-ring);
}
.calculator__fieldset {
    /* 
      CSS grid allows fieldset to both fill its container
      and contain overflow.
    */
    display: grid;
    padding-inline: var(--spacing);
    padding-block-start: var(--spacing-xs);
    padding-block-end: var(--spacing);
    border: var(--border-style) var(--border-width) rgb(148 163 184);
    border-radius: var(--border-radius);
}
.calculator__label {
    font-size: var(--font-size-sm);
}
.calculator__screen {
    display: flex;
    align-items: center;
    height: var(--screen-height);
    background-color: var(--primary-background);
    outline: var(--primary-border);
    border-radius: var(--border-radius);
    overflow-x: scroll;
}
.calculator__screen--output {
    height: calc(var(--screen-height) * 2.5);
}
.calculator__text {
    padding-inline: var(--spacing-lg);
    font-family: var(--font-monospace);
    font-size: var(--font-size);
    line-height: var(--font-line-height-tight);
    letter-spacing: -0.05em;
    font-variant-ligatures: none;
    white-space: pre;
}
.calculator__buttons {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: var(--spacing-sm);
}
.calculator__button {
    font-size: inherit;
    padding-block: var(--spacing);
    background-color: var(--primary-background);
    border: var(--primary-border);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    cursor: var(--cursor);
    /* prevent double-tap zoom */
    touch-action: manipulation;
}
.calculator__button:hover {
    background-color: var(--primary-background-hover);
}
.calculator__button:active {
    background-color: var(--primary-background-active);
}
.calculator__button--secondary {
    background-color: var(--secondary-background);
    border: var(--secondary-border);
}
.calculator__button--secondary:hover {
    background-color: var(--secondary-background-hover);
}
.calculator__button--secondary:active {
    background-color: var(--secondary-background-active);
}
.calculator__button--tertiary {
    background-color: var(--tertiary-background);
    border: var(--tertiary-border);
}
.calculator__button--tertiary:hover {
    background-color: var(--tertiary-background-hover);
}
.calculator__button--tertiary:active {
    background-color: var(--tertiary-background-active);
}
.calculator__button--lg {
    grid-column: span 2;
}
.calculator__button--bold {
    font-weight: var(--font-weight-bold);
}
